# 【1】 最初に全ファイル禁止
# すべてのファイルをignoreする
# gitは空フォルダは無視されるので影響はない
*
!*/

# 【2】 次に任意のファイルやフォルダを許可
# このファイルと同階層のフォルダ階層以降を許可
!/app/**
!/resources/**
!/routes/**
/bootstrap/**
/storage/**
/vendor/**
!/.gitignore
!/config/**
!/.env
!/shop.sql